<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Aion Watch</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Aion/homepage.css' %}">
</head>
<body>
    {% if timeout %}
        <script type="text/javascript">alert("You have been Logged out due to inactivity.")</script>
    {% endif %}
    <div class="navbar">
        <div class="navbar-contents">
            {% if request.session.user > 0 %}
            <a href="{% url 'Aion:homePage' %}" id="home">Aion Watch</a>
            {% else %}
            <a href="{% url 'Aion:homeBase' %}" id="home">Aion Watch</a>
            {% endif %}
        </div>
        <div class="navbar-contents">
            {% if request.session.user > 0 %}
                {% if user.user_privilege == '0' %}
                <a href="{% url 'Aion:addUserPage' %}">Add User</a>
                <a href="{% url 'Aion:listManagersPage'%}">List of Managers</a>
                {% elif user.user_privilege == '1' %}
                <a href="{% url 'Aion:addWatchPage' %}">Add Watches</a>
                <a href="{% url 'Aion:editWatchPage' %}">List Watches</a>
                {% elif user.user_privilege == '2' %}
                <a href="{% url 'Aion:managerTransactionPageOne' %}">View Transactions</a>
                {% endif %}
            <a href="{% url 'Aion:myProfile' %}">Profile</a>
            <a href="{% url 'Aion:homeBase' %}">Logout</a>
            {% else %}
            <a href="{% url 'Aion:loginPage' %}">Log In</a>
            <a href="{% url 'Aion:signUpPage' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
    
    <div class="main-gallery">
        {% for item in watchList %}
        <div class="item"> 
            <a href="{% url 'Aion:watchDetail' item.pk %}">
                <img src="{{ item.product_thumbnail.url }}" width="200" height="250">
            </a>
            <div class="details">
                <a href="{% url 'Aion:watchDetail' item.pk %}">{{ item.product_name }}</a>
                <p>Price: Php{{ item.product_price }}</p>
                {% if item.product_type == '0' %}
                <p>Type: Analog Watch</p>
                {% elif item.product_type == '1' %}
                <p>Type: Digital Watch</p>
                {% elif item.product_type == '2' %}
                <p>Type: Smart Watch</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>