<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Watch</title>
    <link rel="stylesheet" type="text/css" href="/css/pmprofile.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-contents">
            <a href="/html/homepage.html" id="home">Time Watch</a>
            <a href="/html/addwatch.html">Add Watch</a>
        </div>
        <div class="navbar-contents">
            <a href="/html/pmprofile.html">Profile</a>
            <a href="/html/homepage.html">Logout</a>
        </div>
    </div>
    
    <div class="userbox">    
        <div class="details">
            <img class="photo" src="/img/juandelacruz.jpg">
            <div class="user-details">
                <a href="#" id="editbtn" role="button">Edit Profile</a>
                <p>Product Manager</p>
                <a href="#">@pmanager</a>
                <p>pmanager@example.com</p>
            </div>
            <div class="user-details">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        
    </div>
        

</body>
</html>